.launchpad-container {
  display: grid;

  /* padding: 0.5rem; */

  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

.lp-section {
  width: 100%;
  height: 100%;
}

.lp-func-btns {
  display: grid;

  width: 100%;
  height: 100%;

  text-align: center;

  align-items: center;
  justify-content: center;
  justify-items: center;

  padding: 2px;
}

.lp-func-col {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
}

.lp-func-row {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
}

.lp-func-btn {
  padding: 4px;
}

#launchpad {
  width: fit-content;
  height: fit-content;
}

#launchpad-btns {
  display: grid;

  width: 100%;
  height: 100%;

  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  align-items: center;
  justify-content: center;

  gap: 4px;
}

.sidebar {
  padding: 1rem 1.5rem;

  margin: 1.5rem;
}

.lp-info {
  padding: 1rem 0;
  margin-bottom: 0.5rem;
}

.lp-info * {
  padding: 1px 0.5rem;
  margin-left: 0.5rem;
}

.lp-title {
  font-weight: 600;
  font-size: 2.25rem;

  line-height: 1.5rem;
}

.lp-artist {
  font-weight: 400;
  font-size: 1.25rem;

  line-height: 2.25rem;
}

.lp-author {
  font-weight: 400;
  font-size: 0.85rem;
}

.lp-settings {

}

.lp-settings input {
  display: none;
}

.lp-upload {
  display: flex;
  cursor: pointer;

  align-content: center;
  justify-content: center;

  margin-top: 2rem;
  padding: 0.5rem;
}

.lp-upload i {
  padding-right: 6px;
}

.autoplay-btns {
  display: flex;

  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  padding: 0.5rem;

  min-width: 0;
}

.autoplay-btn {
  display: flex;

  justify-content: center;
  align-items: center;

  min-width: 0;

  cursor: pointer;

  margin-top: 6px;
  padding: 0.5rem;
}

.autoplay-btn i {
  margin-right: 2px;
}