/* Skin Settings
 *
 * @name lpx
 * @lightOn both
 * @gradientEffect true
 * @glow true
 */

.launchpad-container {
  /* padding: 0.5rem; */

  /* These properties setup the rows and columns of the launchpad container */
  /* It setups up the top row, middle row, and bottom
   * The top row is just the corners (for logos) and the functional circle buttons
   * The middle row contains the side functional circle buttons and the middle main 8x8 button grid
   * The bottom row is also just the corners (for logos) and the functional circle buttons
   */
  grid-template-columns: 576px 72px;
  grid-template-rows: 72px 576px;

  /* The gap between the all the buttons */
  gap: 4px;

  background: rgb(20,19,23);
  background: linear-gradient(86deg, rgba(20,19,23,1) 8%, rgba(8,10,32,1) 44%, rgba(2,23,65,1) 88%);

  /* The border for the launchpad */
  /* Radius = how much roundness */
  border-radius: 6px;
  border-color: transparent;

  /* This creates a shadow to make it look like its floating */
  box-shadow: 2px 1px 16px 10px black;

  /* This added padding on every side so the buttons aren't touching the edges. */
  padding: 24px;
}

.lp-func-btns {
  gap: 4px;

  padding: 2px !important;
}

.lp-func-btn {
  width: 98%;
  height: 98%;

  background-color: rgba(15, 15, 15, 0.95);

  border-width: 1px;
  /* border-radius: 50%; */

  border-color: rgba(110, 110, 110, 0.5);
  border-style: solid;

  box-shadow: 0px 0px 12px 3px;
  color: transparent;
}

/* Launchpad Button */
.lp-btn {
  /* 100% fills the button to the button container */
  width: 95%;
  height: 95%;

  align-self: center;

  background-color: rgba(116, 116, 116, 0.95);

  border-color: rgba(44, 44, 44, 0.5);
  border-style: solid;

  border-width: 1px;
  border-radius: 3px;

  box-shadow: 0px 0px 12px 3px;
  color: transparent;
}

/* Specific Launchpad Buttons */
.lp-btn-4-4 {
  border-bottom-right-radius: 12px;  
}

.lp-btn-4-5 {
  border-top-right-radius: 12px;  
}

.lp-btn-5-4 {
  border-bottom-left-radius: 12px;  
}

.lp-btn-5-5 {
  border-top-left-radius: 12px;  
}

/* Launchpad Button Container */
#launchpad-btns {
  gap: 4px;

  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;

  padding: 2px;
}

#lp-middle-left {
  display: none;
}

#lp-bottom-middle {
  display: none;
}

#lp-top-right {
  /* display: none; */
}

#lp-top-left {
  display: none;
}

#lp-bottom-right {
  display: none;
}

#lp-bottom-left {
  display: none;
}